<html>

<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
        textarea {
            height: 500px;
            width: 24%;
        }
    </style>
</head>

<body>
    <label></label>
    <textarea type="text" id="source" placeholder="Source PHP"></textarea>
    <textarea id="output" placeholder="Output texts" style="white-space: pre-wrap"></textarea>
    <textarea type="text" id="translated" placeholder="Translated texts"></textarea>
    <textarea id="translatedsource" placeholder="Translated PHP"></textarea>
    <script>
        $('#source').on("change", function (event) {
            $.post(
                {
                    url: '/unpack/',
                    dataType: "text",
                    contentType: "application/json",
                    data: JSON.stringify({ source: event.target.value })
                }).done(function (data) {
                    $("#output").val(JSON.parse(data).join("\n"))
                })
        });
        $("#translated").on("input", function (event) {
            var payload = event.target.value.split("\n");
            $.post(
                {
                    url: '/pack/',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ source: $("#source").val(), translated_texts: payload })
                }).done(function (data) {
                    $("#translatedsource").val(data['res'])
                })
        });
    </script>
</body>

</html>